<!DOCTYPE html>
<html>
<head>
	<title>SPOT - Contact Us</title>
</head>
<body>
	<div id="logo2">
		<a href="/"><img src="http://i.imgur.com/7Je67an.jpg"></a>	
	</div>
	<form action="/results" method="GET">
		<input type="text" name="business" placeholder="business name or type">
		<input type="text" name="location" placeholder="location">
		<button>Search</button>
	</form>
	<% if (user) { %>
    	Logged in as <%= user.firstName %><br>
    	<a href="/logout">LOG OUT</a>
	<% } else { %>
	    <div>
	    	<a href="/login">LOG IN</a>
	    </div>
	    <div>
	    	<a href="/signup">SIGN UP</a>
	    </div>
  	<% } %>
	<h2>Contact Us</h2>
    <div id="contact">
	    <p>SPOT</p>
	    <p>San Francisco, CA</p>
	    <p>(Phone Number)</p>
	    <p><a href="mailto:">(E-mail Address)</a></p>
	</div>
	<nav>
		<a href="">HOME</a>
		<a href="">ABOUT SPOT</a>
		<a href="">CONTACT US</a>
		<a href="">HOW TO SUBMIT</a>
	</nav>
</body>
</html>