<!DOCTYPE html>
<html>
<head>
	<title>SPOT - Home</title>
	<link rel="stylesheet" href="/stylesheets//bootstrap.min.css">
</head>
<body>
	<% if (user) { %>
    	Logged in as <%= user.firstName %><br>
    	<a href="/logout">LOG OUT</a>
	<% } else { %>
	    <div>
	    	<a href="/login">LOG IN</a>
	    </div>
	    <div>
	    	<a href="/signup">SIGN UP</a>
	    </div>
  	<% } %>
	<div id="logo">
		<a href="/"><img src="http://i.imgur.com/7Je67an.jpg"></a>
	</div>
	<div id="description">
		Dog-friendly establishment locator
	</div>
	<form action="/results" method="GET">
		<input type="text" name="business" placeholder="business name or type">
		<input type="text" name="location" placeholder="location">
		<button>Search</button>
	</form>
	<nav>
		<a href="/about">ABOUT SPOT</a>
		<a href="/contact">CONTACT US</a>
		<a href="/howto">HOW TO SUBMIT</a>
	</nav>
</body>
</html>