<!DOCTYPE html>
<html>
<head>
	<title>SPOT - How To Submit</title>
</head>
<body>
	<div id="logo2">
		<a href="/"><img src="http://i.imgur.com/7Je67an.jpg"></a>	
	</div>
	<form action="/results" method="GET">
		<input type="text" name="business" placeholder="business name or type">
		<input type="text" name="location" placeholder="location">
		<button>Search</button>
	</form>
	<% if (user) { %>
    	Logged in as <%= user.firstName %><br>
    	<a href="/logout">LOG OUT</a>
	<% } else { %>
	    <div>
	    	<a href="/login">LOG IN</a>
	    </div>
	    <div>
	    	<a href="/signup">SIGN UP</a>
	    </div>
  	<% } %>
	<h2>How To Submit</h2>
    <ol>
    	<li>1. </li>
    	<li>2. </li>
    	<li>3. </li>
    </ol>
	<nav>
		<a href="">HOME</a>
		<a href="">ABOUT SPOT</a>
		<a href="">CONTACT US</a>
		<a href="">HOW TO SUBMIT</a>
	</nav>
</body>
</html>