<!DOCTYPE html>
<html>
<head>
	<title>SPOT - Home</title>
	<link rel="stylesheet" href="/stylesheets//bootstrap.min.css">
</head>
<body>
	<div id="logo">
		<a href=""><img src=""></img></a>
	</div>
	<div id="description">
		Dog-friendly establishment locator
	</div>
	<nav>
		<a href="">ABOUT SPOT</a>
		<a href="">CONTACT US</a>
		<a href="">HOW TO SUBMIT</a>
</body>
</html>