<!DOCTYPE html>
<html>
<head>
	<title>SPOT - Search Results</title>
</head>
<body>
	<div id="logo2">
		<a href=""><img src=""></img></a>
	</div>
	<form action="/results" method="GET">
		<input type="text" name="business" placeholder="business name or type">
		<input type="text" name="location" placeholder="location">
		<button>Search</button>
	</form>
	<% if (user) { %>
    	Logged in as <%= user.firstName %><br>
    	<a href="/logout">LOG OUT</a>
	<% } else { %>
	    <div>
	    	<a href="/login">LOG IN</a>
	    </div>
	    <div>
	    	<a href="/signup">SIGN UP</a>
	    </div>
  	<% } %>
	<h2>Search Results</h2>
	    <% location.forEach(function (location) { %>
		<div>
    		<h4> <a href="/home/<%= location.yelpID %>"><%= location.location %></a></h4>
    	</div>
   <% }) %>
	<nav>
		<a href="">HOME</a>
		<a href="">ABOUT SPOT</a>
		<a href="">CONTACT US</a>
		<a href="">HOW TO SUBMIT</a>
	</nav>
</body>
</html>