<!DOCTYPE html>
<html>
<head>
	<title>SPOT - Log In</title>
</head>
<body>
	<div id="logo2">
		<a href=""><img src=""></img></a>
	</div>
	<form method="post" action="/login">
      <div>
        <input type="text" name="user[email]" placeholder="Email">
      </div>
      <div>
        <input type="text" name="user[password]" placeholder="Password">
      </div>
      <button>Log In</button>
    </form>
    Not a user? Sign up <a href="">here</a>.
	<nav>
		<a href="">HOME</a>
		<a href="">ABOUT SPOT</a>
		<a href="">CONTACT US</a>
		<a href="">HOW TO SUBMIT</a>
	</nav>
</body>
</html>