<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<script type="text/javascript" charset="utf-8">
	  window.setTimeout(function() {
	    parent.location = "/";
	  }, 0);
	</script>
</head>
<body>

</body>
</html>