<!DOCTYPE html>
<html>
<head>
	<title>SPOT - Sign Up</title>
</head>
<body>
	<div id="logo2">
		<a href=""><img src=""></img></a>
	</div>
	<form method="post" action="/users">
      <div>
      	<input type="text" name="user[firstName]" placeholder="First Name">
      </div>
      <div>
      	<input type="text" name="user[lastName]" placeholder="Last Name">
      </div>
      <div>
        <input type="text" name="user[email]" placeholder="Email">
      </div>
      <div>
        <input type="text" name="user[password]" placeholder="Password">
      </div>
      <button>Sign Up</button>
    </form>
    Already a member? Log in <a href="">here</a>.
	<nav>
		<a href="">HOME</a>
		<a href="">ABOUT SPOT</a>
		<a href="">CONTACT US</a>
		<a href="">HOW TO SUBMIT</a>
	</nav>
</body>
</html>