<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPOT - Signup</title>
    <link rel="stylesheet" href="/stylesheets//bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="scrollup.js"></script>
    <script type="text/javascript" src="scrolldown.js"></script>
    <script type="text/javascript" src="form.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
</head>
</head>
</head>
<body>

  <div class="fixed-bar animated-quick">
    <div class="container">
      <div class="row">
        <nav class="sixcol">
          <ul id="menu-main-navigation" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-0">
              <a href="/">HOME</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1">
              <a href="/about">ABOUT</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-2">
              <a href="/contact">CONTACT</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3">
              <a href="/howto">HOW TO SUBMIT</a>
            </li>
            
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7">
              <form class="form-inline" action="/results" method="GET">
              <div class="form-group">
                <input type="text" name="business" class="form-control" placeholder="business name or type">
              </div>
              <div class="form-group">
                <input type="text" name="location" class="form-control"  placeholder="location">
              </div>
              <button class="btn btn-inverse">SEARCH</button>
              </form>
            </li>
          </ul>
        </nav>  
        <div class="fourcol last">
          <a href="#" id="back-to-top" title="Back To Top">Back To Top</a>
        </div>        
      </div>
    </div>
  </div>

  <header class="splash" id="signup">
    <div class="container" id="page">
      <div class="col-lg-6 col-lg-offset-3 text-center">
        <nav class="navbar transparent" role="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1">
              <a href="/about">ABOUT</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2">
              <a href="javascript:scrollToBottom()">CONTACT</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3">
              <a href="/howto">HOW TO SUBMIT</a>
            </li>
          </div>
        </nav>
      </div> 

      <div class="text-center" id="logo">
        <a href="/">SPOT</a>
      </div>   
      
      <br>
      <div class="row"></div>
      <div class="row">
        <div class="span6 center">
          <div class="container" id="signupform">


          <form name="form" class="form-horizontal" method="post" action="/users" onSubmit="return confirmForm(this);" ng-app>


          <div class="form-group">
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.firstName.$invalid]">
              <label for="inputfirstName3" class="control-label">First Name</label>
              <div class="col-xs-12 col-sm-12">

                <input type="text" class="form-control" name="user[firstName]" placeholder="First Name" ng-model="firstName" required pattern="[a-zA-Z]{1,}" title="Must have at least 1 character of the alphabet" maxlength="50" autofocus>

              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.lastName.$invalid]">
              <label for="inputlastName3" class="control-label">Last Name</label>
              <div class="col-xs-12 col-sm-12">

                <input type="text" class="form-control" name="user[lastName]" placeholder="Last Name" ng-model="lastName" required pattern="[a-zA-Z]{1,}" title="Must have at least 1 character of the alphabet" maxlength="50">

              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
            <label for="email" class="control-label">Email</label>
            <div class="col-xs-12 col-sm-12">

              <input type="email" class="form-control" name="user[email]" placeholder="Email" pattern="\w.*+\@+[a-z]+\.[a-z]{2,7}" title="Example: abc@yahoo.com" ng-model="email" required>
  
            </div>
          </div>
          </div>
          <div class="form-group">
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.password.$invalid]">
              <label for="password" class="control-label">Password</label>
              <div class="col-xs-12 col-sm-12">

                <input type="password" class="form-control" name="user[password]" id="pass1" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{5,}" title="Must have at least 5 characters, including UPPER/lowercase letters and number" ng-model="password" required>

                <span class="help-inline" ng-show="submitted && form.password.$error.required">Required</span>
                <span class="help-inline" ng-show="submitted && form.password.$error.password">Invalid password</span> 

              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="control-group" ng-class="{true: 'error'}[submitted && form.confirm_password.$invalid]">
              <label for="confirm_password" class="control-label">Confirm Password</label>
              <div class="col-xs-12 col-sm-12">

                <input type="password" class="form-control" name="user[confirm_password]" id="pass2" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{5,}" onkeyup="checkPass(); return false;" title="Must be the same password as above" ng-model="confirm_password" required>

                <span class="help-inline" ng-show="submitted && form.confirm_password.$error.required">Required</span>
                <span class="help-inline" ng-show="submitted && form.confirm_password.$error.confirm_password">Invalid password</span> 
                <span id="confirmMessage" class="confirmMessage"></span>

              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12 col-sm-12">
              <button type="submit" class="btn btn-default-inverse" ng-click="submitted=true">Sign Up</button>
            </div>
          </div>
            Already a member? Log in <a href="/login" id="here">here</a>.
          <br>
          </form>
        </div>
      </div>
    </div>
  </header>


  <footer>
    <div class="footer-inner">
      <div class="container">
              <div class="contact">
                <span class="site-address">SPOT, 123 5th Avenue, San Francisco, CA 54321</span>
                <span rel="tel" class="site-phone">415-555-1212</span>
                <a href="mailto:spot@spot.com" class="site-email">spot@spot.com</a></div>
              </div>
          </div>

          <div class="container" id="spothq">
          <div id="map"></div>
      </div>

          <div class="container">
              <div class="row small"></div>
          <div class="twelvecol">
            <small>Copyright &copy; 2015, Karen Chu</small>
          </div>
      </div>
    </div>
  </footer>

  <script>
    L.mapbox.accessToken = 'pk.eyJ1Ijoib2NlYW5jaGlsZDYzNyIsImEiOiJxVkhhRTg4In0.Tt6s5ijiS4a3ElrxYg8sSg';
    var map = L.mapbox.map('map', 'oceanchild637.l6bgnkcj')
  </script>

</body>
</html>